@tailwind base;
@tailwind components;
@tailwind utilities;

/* pretandard font 모음 */
@layer base {
  @font-face {
    font-family: 'pretendard-black';
    src: url('/fonts/Pretendard-Black.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard-bold';
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard-extra-bold';
    src: url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard-extra-light';
    src: url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard-light';
    src: url('/fonts/Pretendard-Light.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard-medium';
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard-regular';
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard-semi-bold';
    src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'pretendard-thin';
    src: url('/fonts/Pretendard-Thin.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
